<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mezuniyet</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="baslik">
        <h1>İklim Değişikliği</h1>
        
    </div>
    <div class="altbaslik1">
            <h3>İklim Değişikliği Nedir?</h3>
        </div> 

    <div class="icerik">
        <p>İklim değişikliği, sıcaklık ve hava koşullarındaki uzun vadeli değişimleri ifade eder. Bu değişimler, güneşin aktivitesindeki değişikliklerden veya büyük volkanik patlamalardan kaynaklanan doğal değişimler olabilir. Ancak 1800'lerden beri, insan faaliyetleri , özellikle kömür, petrol ve gaz gibi fosil yakıtların yakılması nedeniyle, iklim değişikliğinin ana itici gücü olmuştur .

Fosil yakıtların yakılması, Dünya'yı bir battaniye gibi saran, güneşin ısısını hapseden ve sıcaklıkları artıran sera gazı emisyonlarına neden oluyor.

İklim değişikliğine neden olan başlıca sera gazları arasında karbondioksit ve metan bulunur. Bunlar, örneğin araba kullanmak için benzin veya bir binayı ısıtmak için kömür kullanımından kaynaklanır. Arazi temizliği ve ormanların kesilmesi de karbondioksit salınımına neden olabilir. Tarım, petrol ve gaz faaliyetleri, metan emisyonlarının başlıca kaynaklarıdır. Enerji, sanayi, ulaşım, binalar, tarım ve arazi kullanımı, sera gazlarına neden olan başlıca sektörler arasındadır  .

 </p>

    </div>
    <img src="../static/img/indir (8).jpeg" alt=""class="resim1">
    <div class="icerik2">
         <p>İklim bilimciler, son 200 yıldır küresel ısınmanın neredeyse tamamından insanların sorumlu olduğunu gösterdi . Yukarıda bahsedilenler gibi insan faaliyetleri, dünyayı en azından son iki bin yıldır olduğundan daha hızlı ısıtan sera gazlarına neden oluyor.

Dünya yüzeyinin ortalama sıcaklığı, sanayi devriminden önceki 1800'lerin sonlarına göre yaklaşık 1,42°C daha sıcak ve son 100.000 yılın en sıcak dönemi. Son on yıl (2015-2024), kayıtlardaki en sıcak dönem oldu ve son kırk on yılın her biri, 1850'den bu yana geçen tüm on yıllardan daha sıcak oldu.

Birçok kişi iklim değişikliğinin esas olarak daha yüksek sıcaklıklar anlamına geldiğini düşünür. Ancak sıcaklık artışı hikayenin sadece başlangıcıdır. Dünya, her şeyin birbirine bağlı olduğu bir sistem olduğundan, bir alandaki değişiklikler diğer tüm alanlardaki değişiklikleri etkileyebilir.

İklim değişikliğinin sonuçları arasında yoğun kuraklıklar, su kıtlığı, şiddetli yangınlar, yükselen deniz seviyeleri, seller, eriyen kutup buzulları, yıkıcı fırtınalar ve azalan biyolojik çeşitlilik yer alıyor.</p>

    </div>
    <img src="../static/img/indir (9).jpeg" alt=""class="resim2">
<div class="basliklar">
        <div class="altbaslik2">
        <h3>İklim Değişikliğinin Etkileri</h3>
    </div>
    <div class="icerikbaslik1">
        Daha Sıcak Sıcaklıklar
    </div>
    <div class="icerik3">
Sera gazı konsantrasyonları arttıkça, küresel yüzey sıcaklığı da artıyor. Son on yıl, 2015-2024, kayıtlardaki en sıcak on yıl oldu. 1980'lerden bu yana, her on yıl bir öncekinden daha sıcak geçti. Neredeyse tüm karasal alanlar daha fazla sıcak gün ve sıcak hava dalgası görüyor. Daha yüksek sıcaklıklar, sıcağa bağlı hastalıkları artırıyor ve açık havada çalışmayı zorlaştırıyor. Orman yangınları, koşullar daha sıcak olduğunda daha kolay başlıyor ve daha hızlı yayılıyor. Arktik'teki sıcaklıklar, küresel ortalamanın en az iki katı hızla arttı.
    </div>
    <div class="icerikbaslik2">
        Daha şiddetli fırtınalar
    </div>
    <div class="icerik4">
Yıkıcı fırtınalar birçok bölgede daha yoğun ve daha sık hale geldi. Sıcaklıklar arttıkça daha fazla nem buharlaşıyor. Bu da aşırı yağış ve selleri şiddetlendirerek daha yıkıcı fırtınalara yol açıyor. Tropikal fırtınaların sıklığı ve kapsamı da okyanus ısınmasından etkileniyor. Siklonlar, kasırgalar ve tayfunlar okyanus yüzeyindeki ılık sularla beslenir. Bu tür fırtınalar genellikle evleri ve toplulukları yok ederek ölümlere ve büyük ekonomik kayıplara neden olur.
    </div>
    <div class="icerikbaslik3">
        Isınan, yükselen bir okyanus
    </div>
    <div class="icerik5">
Okyanus, küresel ısınmanın yol açtığı ısının çoğunu emer. Okyanusların ısınma hızı, son yirmi yılda okyanusun tüm derinliklerinde önemli ölçüde artmıştır. Okyanus ısındıkça, su ısındıkça genişlediğinden hacmi de artmaktadır. Eriyen buzullar da deniz seviyelerinin yükselmesine neden olarak kıyı ve ada topluluklarını tehdit etmektedir. Ayrıca okyanus, karbondioksiti emerek daha asidik hale getirmekte ve deniz canlılarını ve mercan resiflerini tehlikeye atmaktadır.
    <div class="icerikbaslik4">
        Tür kaybı
    </div>
    <div class="icerik6">
İklim değişikliği, karada ve okyanusta türlerin hayatta kalması için riskler oluşturmaktadır. Sıcaklıklar arttıkça bu riskler de artmaktadır. İklim değişikliğinin etkisiyle dünya, insanlık tarihindeki herhangi bir döneme kıyasla 1.000 kat daha hızlı bir şekilde tür kaybına uğramaktadır. Önümüzdeki birkaç on yıl içinde bir milyon tür yok olma tehlikesiyle karşı karşıyadır. Orman yangınları, aşırı hava koşulları, istilacı zararlılar ve hastalıklar, iklim değişikliğiyle ilişkili birçok tehdit arasında yer almaktadır. Bazı türler yer değiştirip hayatta kalabilecekken, bazıları bunu başaramayacaktır.
    </div>
    <div class="icerikbaslik5">
        Yeterli yiyecek yok
    </div>
    <div class="icerik7">
İklim değişiklikleri ve aşırı hava olaylarındaki artışlar, küresel açlık ve yetersiz beslenmedeki artışın ardındaki nedenler arasında yer alıyor. Balıkçılık, tarım ürünleri ve hayvancılık yok olabilir veya daha az verimli hale gelebilir. Okyanusların daha asidik hale gelmesiyle, milyarlarca insanı besleyen deniz kaynakları risk altında. Birçok Arktik bölgesindeki kar ve buz örtüsündeki değişiklikler, hayvancılık, avcılık ve balıkçılıktan kaynaklanan gıda tedariklerini aksatıyor. Isı stresi, otlatma için su ve otlak alanlarını azaltarak ürün veriminin düşmesine ve hayvancılığın etkilenmesine neden olabilir.
    </div>
    <div class="altbaslik2">
        <h3>İklim Değişikliğinin Nedenleri</h3>
    </div>

    <div class="icerikbaslik2-1">
        <p>Güç üretimi</p>
    </div>
    <div class="icerik2-1">
        <p>Küresel emisyonların büyük bir kısmı, elektrik ve ısı üretmek için fosil yakıtların yakılmasından kaynaklanmaktadır. Elektriğin çoğu hâlâ kömür, petrol veya gaz yakılarak üretilmekte ve bu da karbondioksit ve azot oksit üretmektedir. Bunlar, Dünya'yı kaplayan ve güneşin ısısını hapseden güçlü sera gazlarıdır. Küresel olarak elektriğin üçte biri, fosil yakıtların aksine havaya çok az sera gazı veya kirletici salan veya hiç salmayan rüzgar, güneş ve diğer yenilenebilir kaynaklardan gelmektedir.</p>
    </div>
    <div class="icerikbaslik2-2">
        <p>Üretim malları</p>
    </div>
    <div class="icerik2-2">
        <p>Üretim ve sanayi, çoğunlukla çimento, demir, çelik, elektronik, plastik, giyim ve diğer malların üretiminde ihtiyaç duyulan enerjiyi üretmek için fosil yakıtların yakılmasından kaynaklanan emisyonlar üretir. Madencilik ve diğer endüstriyel süreçler de inşaat sektörü gibi gaz salınımına neden olur. Üretim sürecinde kullanılan makineler genellikle kömür, petrol veya gazla çalışır. Plastik gibi bazı malzemeler ise fosil yakıtlardan elde edilen kimyasallardan üretilir. Üretim sektörü, dünya çapında sera gazı emisyonlarına en çok katkıda bulunan sektörlerden biridir.</p>
    </div>
    <div class="icerikbaslik2-3">
        <p>Ormanların kesilmesi</p>
    </div>
    <div class="icerik2-3">
        <p>Çiftlik veya mera oluşturmak veya başka nedenlerle ormanların kesilmesi, ağaçlar kesildiklerinde depoladıkları karbonu saldıkları için emisyon üretir. Her yıl yaklaşık 10 milyon hektar orman yok olmaktadır. Ormanlar karbondioksiti emdiği için, yok edilmeleri doğanın atmosfere emisyon yayma kabiliyetini de sınırlamaktadır. Ormansızlaşma, tarım ve diğer arazi kullanım değişiklikleriyle birlikte, küresel sera gazı emisyonlarının yaklaşık üçte birinden sorumludur.</p>
    </div>
    <div class="icerikbaslik2-4">
        <p>Ulaşımı kullanmak</p>
    </div>
    <div class="icerik2-4">
        <p>Çoğu araba, kamyon, gemi ve uçak fosil yakıtlarla çalışıyor. Bu durum, ulaşımı sera gazlarının, özellikle de karbondioksit emisyonlarının önemli bir kaynağı haline getiriyor. Karayolu taşıtları, benzin gibi petrol bazlı ürünlerin içten yanmalı motorlarda yanması nedeniyle en büyük payı oluşturuyor. Ancak gemi ve uçaklardan kaynaklanan emisyonlar artmaya devam ediyor. Ulaşım, küresel enerji kaynaklı karbondioksit emisyonlarının neredeyse dörtte birini oluşturuyor. Trendler, önümüzdeki yıllarda ulaşımda enerji kullanımında önemli bir artışa işaret ediyor.</p>
    </div>
    <div class="icerikbaslik2-5">
        <p>Çok fazla tüketmek</p>
    </div>
    <div class="icerik2-5">
        <p>Yaşam tarzlarımız gezegenimiz üzerinde derin bir etkiye sahip olabilir. Evdeki enerji kullanımımız, nasıl hareket ettiğimiz, ne yediğimiz ve ne kadarını çöpe attığımız gibi faktörler sera gazı emisyonlarına katkıda bulunur. Giyim, elektronik ve plastik gibi ürünlerin tüketimi de aynı şekilde. En büyük sorumluluk en zenginlere aittir: En büyük 20 ekonomi, küresel emisyonların neredeyse %80'inden sorumludur.</p>
    </div>
    
</div>



    <div class="sablon">
        <div class="kaynakca">
        <div class="yazi">
            <p>Kaynakça</p>
        </div>
        <div class="link">
            <a href="https://www.un.org/en/climatechange/what-is-climate-change">Websitesi 1</a>
        </div>
        
    </div>
    
    </div>
    
    
</body>
</html>